.header{
    display: flex;
    flex-direction: row;

}
.header__Wrapper{
    height: 56px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    transition: transform 0.25s ease 0s;
    transform: translateY(0px);
}

.header__logo{
    flex: 1 0 auto;
    outline: 0px;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}

.header__SearchWrapper{
    height: 40px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-left: 8px;
    max-width: 200px;
}

.header__Input{
    border: 0px;
    height: 100%;
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 0px 0px 8px;
    color: rgb(72, 99, 111);
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: rgb(240, 245, 247);
    max-width: 160px;
}

.header__SearchIconWrapper{
    height: 40px;
    width: 40px;
    background-color: rgb(240, 245, 247);
    border-radius: 0px 4px 4px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.header__SearchIcon{
    width: 14px;
    height: 14px;
}
.header__IconWrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 16px;
}
.header__Icon{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    height: 18px;
    min-width: 18px;
    padding: 10px;
    cursor: pointer;
}

