
.ProductContainer{
    position: relative;
    width: 100%;
    z-index: 0;
    
    display: flex;
    flex: 1;
   
    align-items: center;
    
    margin-top: 40px;
 
    

   
}
.dff{
   

   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
   
}
.productDetails__TabHeader{
    box-sizing: border-box;
    position: fixed;
    top: 56px;
    height: 48px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 0 0 auto;
    overflow-x: auto;
    z-index: 3;
    transition: transform 0.25s ease 0s;
    transform: translateY(0px);
}



.productDetails__TabHeaderWrapper{
    display: flex;
    margin: auto;
    flex-direction: row;
}


.productDetails__Tab1Wrapper{
    position: relative;
}
.productDetails__Tab1{
   
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    color: rgb(25, 42, 50);
    padding: 0px 20px;
    font-weight: 700;
   
    height: 100%;
   
}
.productDetails__Tab11{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid  rgb(25, 42, 50);
    height: calc(100% + 4px);
    padding: 0px 4px;
    width: 100%;
}
.productDetails__Tab11Text{
    height: 24px;
    line-height: 24px;
    display: flex;
    flex: 0 1 auto;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: rgb(25, 42, 50);
    letter-spacing: 0.3px;
    padding: 20px;
}
.ProductDetails__wrapper{
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0px;
}
.productDetails__section{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 3px solid rgb(240, 245, 247);
}
.productDetails__name{
    font-size: 16px;
    font-weight: 400;
    color: rgb(25, 42, 50);
    overflow-wrap: break-word;
    margin-bottom: 8px;

}
.ProductPage__Header{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    place-content: center space-between;
    margin-bottom: 16px;

}
.ProductPage__Title{
    font-size: 16px;
    font-weight: 700;
    color: rgb(25, 42, 50);
    white-space: normal;
}
.ProductPage__Expand{
    font-size: 14px;
    font-weight: 400;
    color: rgb(47, 183, 236);
    white-space: nowrap;
    cursor: pointer;

}
.productDetails__footer{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    padding-bottom: env(safe-area-inset-bottom);

}
.productDetails__footerBuyWrapper{
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 86, 34);
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    border-top: 1px solid rgb(240, 245, 247);
}
.productDetails__footerPriceWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
.productDetails__footerNoWrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.productDetails__footerNo{
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 86, 34);
}
.productDetails__footerBtn{
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 140px;
    cursor: pointer;
    background-color: rgb(255, 86, 34);
}
.productDetails__Guarantee{
    display: flex;
    flex-direction: row;
    padding: 0px;

}
.productDetails__GuaranteeImage{
    width: 40px;
    height: 40px;
}
.productDetails__GuaranteeText{
    
    font-size: 14px;
    font-weight: 400;
    color: rgb(25, 42, 50);
    flex: 0 1.25 auto;
}
.productDetails__GuaranteeTextHeader{
    font-size: 14px;
    font-weight: 700;
}
.productDetails__GuaranteeTextDesciption{
    margin-top: 8px;
}
.productDetails__ReviewHeader{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    place-content: center space-between;
    margin-bottom: 16px;
}
.productDetails__ReviewHeaderText{
    font-size: 16px;
    font-weight: 700;
    color: rgb(25, 42, 50);
    white-space: normal;
}
.ProductDetails__ExpandBtn{
    
    font-size: 14px;
    font-weight: 400;
    color: rgb(47, 183, 236);
    white-space: nowrap;
    cursor: pointer;

}
.BaseModal{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    max-height: 0px;
}
.SlidePanel__BackDropWrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(25, 42, 50, 0.7);
    opacity: 1;
    transition: all 0.4s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
}
.SlidePanel__BackDropWrapperInner{
    background-color: rgb(255, 255, 255);
    color: rgb(25, 42, 50);
    position: fixed;
    top: 100%;
    width: 100%;
    left: 0px;
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-100%);
    max-height: 90%;
    overflow-y: auto;
    padding-bottom: env(safe-area-inset-bottom);
}
.SlidePanel__BackDropWrapperTitle{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    min-height: 46px;
    background-color: rgb(248, 250, 251);
    border-bottom: 1px solid rgb(212, 227, 235);

}
.SlidePanel__BackDropWrapperHeader{
    width: 100%;
    padding: 16px 0px;
    background-color: rgb(248, 250, 251);
    border-bottom: 1px solid rgb(212, 227, 235);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.SlidePanel__BackDropWrapperHeaderTitle{
    font-weight: 700;
    font-size: 16px;
}
.SlidePanel__BackDropWrapperHeaderTitleBtn{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 2;

}
.SlidePanel__BackDropWrapperTitleColor{
    padding: 16px 0px 0px 16px;
    font-size: 16px;
    font-weight: 700;
}
.SlidePanel__BackDropWrapperTitleColorDescriptipion{
    font-size: 16px;
    font-weight: 400;
    max-height: 50vh;
    min-height: 56px;
    padding: 16px;
    color: rgb(25, 42, 50);
    letter-spacing: 0.3px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: scroll;

}

