.cart{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 110px;
    margin-top: calc(128px);
}
.cart__Wrapper{
    flex-direction: column;
    display: flex;
}
.cart__MainContent{
    display: flex;
    flex-direction: row;
    outline: none;
}
.cart__MainContentLeft{
    margin-bottom: 64px;
    max-width: 680px;
    width: 680px;

}
.cart__MainContentRight{
    margin-left: 24px;
    align-self: flex-start;
    margin-right: 250px;

}
.cart__InfoWrapper{
    color: rgb(25, 42, 50);
   
}
.cart__InfoText{
    background-color: rgb(240, 245, 247);
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgb(212, 227, 235);

}
.cart__InfoCommon{
    max-height:752.1719px;
    transition: height 0.5s ease 0s;
    
}
.cart__InfoCommonWrapper{
    display: flex;
    padding: 0.9rem 24px;
    border-color: rgb(212, 227, 235);
    border-style: solid;
    border-width: 0px 1px 1px
}
.cart__InfoCommonWrapperEmpty{
    display: flex;
    padding: 0.9rem 24px;
    border-color: rgb(212, 227, 235);
    border-style: solid;
    border-width: 0px 1px 1px;
    align-items: center;
    justify-content: center;
    padding: 48px 224px 64px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    border-left: 1px solid rgb(212, 227, 235);
    border-right: 1px solid rgb(212, 227, 235);
    border-bottom: 1px solid rgb(212, 227, 235);

}
.cart__InfoCommonEmptyIcon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgb(212, 227, 235);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.cart__InfoCommonEmptyBtn{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 183, 236);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    position: relative;
    border-radius: 4px;
    padding: 0px 16px;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.2s ease 0s;
    font-weight: normal !important;
}

.cart__InfoCommonEmptyText{
    margin: 16px 0px 24px;
    color: rgb(25, 42, 50);
}
.cart__InfoCommonContent{
    display: flex;
    cursor: pointer;
}
.cart__InfoCommonIcon{
    margin-right: 10px;
    cursor: pointer;
}
.cart__InfoCommonText{
    font-size: 16px;
    font-weight: 400;
    color: rgb(47, 183, 236);

}
.cart__InfoCommonPayment{
    max-height: 79px;
    transition: height 0.5s ease 0s;
    overflow: hidden;
}
.cart__InfoCommonPaymentOpen{
    max-height: 450.781px;
    transition: height 0.5s ease 0s;
    overflow: visible;
}
.cart__CreditCardFormWrapper{
    align-self: center;
    width: 100%;
}
.cart__CreditCardBillingRow{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cart__CreditCardBillingRowWrapper{
    flex: 1 1 0%;
    box-sizing: border-box;
    margin: 8px;
    position: relative;
}
.cart__CreditCardBillingEncryptionNote{
    width: 100%;
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cart__CreditCardBillingEncryptionNoteIcon{
    width: 10px;
    height: 14px;
    margin: 0px;
}
.cart__CreditCardBillingEncryptionNoteText{
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    color: rgb(126, 154, 166);
}
.cart__CreditCardInputWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart__CreditCardInputWrapperInputText{
    color: rgb(25, 42, 50);
    font-size: 12px;
    font-weight: 400;
    padding: 4px 0px;
    text-align: left;
}
.cart__CreditCardInputWrapper{
    width: 100%;
    display: flex;
}
.cart__CreditCardInput{
    flex: 1 1 0%;
    border: 1px solid rgb(212, 227, 235);
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    height: 32px;
    padding: 12px;
    text-align: left;
    color: rgb(25, 42, 50);
    background-color: rgb(248, 250, 251);
    cursor: auto;
    box-sizing: border-box;
    width: 100% !important;

}
.cart__CreditCardBillingRowColumnInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart__CreditCardBillingRowColumn{
    flex: 1 1 0%;
    box-sizing: border-box;
    margin: 8px;
    position: relative;
}
.cart__CreditCardInputIcon{
    position: absolute;
    bottom: 0.5em;
    right: 7px;
}
.cart__CreditCardInputIconWrapper{
    width: 26px;
    height: 18px;
}
.cart__CreditCardInputButtonWrapper{
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cart__CreditCardBottomWrapper{
    padding-top: 24px;
    display: block;
    justify-content: space-evenly;
}
.cart__CreditCardInputButton{
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(47, 183, 236);
    color: rgb(47, 183, 236);
    position: relative;
    border-radius: 4px;
    padding: 0px 16px;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.2s ease 0s;
}
.cart__CreditCardInputButton2{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 183, 236);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    position: relative;
    border-radius: 4px;
    padding: 0px 16px;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.2s ease 0s;
    font-weight: bold !important;
}
.addressdetails{
    display: flex;
    flex-direction: column;
    
}
.addressWrapper{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.addressbtn{
    color: rgb(47, 183, 236);
    cursor: pointer;
}
.pickaddress{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
@media only screen and (max-width: 600px) {
    .cart{
      visibility: hidden;
      display: none;
    }
}







