.cart__InfoPaymentWrapper{
    padding: 12px;
    border-left: 1px solid rgb(212, 227, 235);
    border-right: 1px solid rgb(130, 177, 202);
    
}
.cart__InfoPaymentContent{
    display: flex;
    cursor: pointer;
}
.cart__InfoPaymentTab{
    display: flex;
    cursor: pointer;
    flex: 1;
}
.cart__InfoPaymentTabWrapper{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 30px;
    flex: 1 1 auto;
    border: 1px solid rgb(212, 227, 235);
    padding: 10px;
}
.cart__InfoPaymentRadio{
    width: 16px;
    height: 16px;
    border: 2px solid rgb(212, 227, 235);
    border-radius: 50%;
    margin: 0px 16px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
}
.cart__InfoPaymentRadioOpen{
    width: 16px;
    height: 16px;
    border: 2px solid rgb(47, 183, 236);
    border-radius: 50%;
    margin: 0px 16px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
}
.cart__InfoPaymentRadioBtn{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition:  background-color 0.1s linear 0s;

}
.cart__InfoPaymentRadioBtnOpen{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(47, 183, 236);
    transition: background-color 0.1s linear 0s;
}
.cart__InfoPaymentCreditCard{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cart__InfoPaymentIconWrapper{
    border: 1px solid rgb(212, 227, 235);
    border-radius: 2px;
    width: 34px;
    height: 22px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}
.cart__InfoPaymentIcon{
    width: 32px;
    height: 20px;
    

}
